<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Desk Controller</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>

    <script src="/static/script.js"></script>
    <script src="/static/charts.js" defer></script>
    <script src="/static/charts2.js" defer></script>
    <script src="/static/charts3.js" defer></script>
    <script src="/static/deskcontrol.js"></script>
    <script src="/static/deskschedule.js"></script>
</head>

<body>

    <div style="display: flex; justify-content: space-between; align-items: center; max-width: 900px; margin: 0 auto;">
        <h1 style="margin: 20px 0;">Desk Controller</h1>
        <a href="/logout"
            style="background: #888; color: #fff; padding: 8px 18px; border-radius: 6px; text-decoration: none; font-weight: bold; margin-left: 20px;">Logout</a>
    </div>
    <div id="clock" style="font-size:1.2em;margin-bottom:10px;text-align:center;"></div>
    <div id="desks"></div>
    <div id="stats" style="float:left; width:60%; margin-right:5%; padding:2.5%; padding-top:0;">
        <h2 style="margin-bottom: 40px;">Statistics</h2>
        <div style="width:45%;float:left;margin:2.5%">
            <canvas id="myChart"
                style="box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08), 0 1.5px 4px rgba(0, 0, 0, 0.06);border-radius: 12px;"></canvas>
        </div>
        <div style="width:45%;float:left;margin:2.5%">
            <canvas id="myChart2"
                style="box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08), 0 1.5px 4px rgba(0, 0, 0, 0.06);border-radius: 12px;"></canvas>
        </div>

    </div>
    <div id="schedule" style="float:right; width:30%;"></div>
    <div style="clear: both;"></div>
    <div class="chartCard3">
        <div class="chartBox3">
            <div>Desk Position</div>
            <div id="lineLegend" class="fixedLegend"></div>

            <div class="container3">
                <div class="containerBody3">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="chartCard2">
        <div class="chartBox2">
            <div class="container2">
                <div class="containerBody2">
                    <canvas id="myChart4"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!--USE CHARTS.JS link to the docs: https://www.chartjs.org/docs/latest/getting-started/ -->
    <script>
        updatePage();
        setInterval(updatePage, 5000); // update page every 5s
        updateClock();
        setInterval(updateClock, 1000);
    </script>
</body>

</html>