<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Desk Controller</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/script.js"></script>
    <script src="/static/charts.js"></script>
</head>

<body>

    <h1>Desk Controller</h1>
    <div id="clock" style="font-size:1.2em;margin-bottom:10px;text-align:center;"></div>
    <div id="desks"></div>
    <div id="stats" style="float:left; width:60%; margin-right:5%; padding:2.5%; padding-top:0;">
        <h2 style="margin-bottom: 40px;">Statistics</h2>
        <div style="width:45%;float:left;margin:2.5%">
            <canvas id="myChart"
                style="box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08), 0 1.5px 4px rgba(0, 0, 0, 0.06);border-radius: 12px;"></canvas>
        </div>
        <div style="width:45%;float:left;margin:2.5%">
            <canvas id="myChart2"
                style="box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08), 0 1.5px 4px rgba(0, 0, 0, 0.06);border-radius: 12px;"></canvas>
        </div>
    </div>
    <div id="schedule" style="float:right; width:30%;"></div>

    <script>
        function updateClock() {
            const now = new Date();
            const pad = n => n.toString().padStart(2, '0');
            const str = `${pad(now.getHours())}:${pad(now.getMinutes())}:${pad(now.getSeconds())}`;
            document.getElementById('clock').textContent = 'Current time: ' + str;
        }
        setInterval(updateClock, 1000);
        updateClock();
    </script>

    <script>
        updatePage();
        setInterval(updatePage, 5000); // update page every 5s
    </script>
</body>

</html>