<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/desk-cards.css">
    <link rel="stylesheet" href="/static/css/popups-auth.css">
</head>

<body class="auth-bg">
    <div class="auth-container">
        <h1 class="auth-title">Login to DeskController</h1>
        <form method="post" action="/login" class="auth-form">
            <input type="text" name="username" placeholder="Username" required class="auth-input">
            <input type="password" name="password" placeholder="Password" required class="auth-input">
            <button type="submit" class="auth-btn">Login</button>
        </form>

    </div>
</body>

</html>